.userList{
    flex: 4;
}

.userListUser{
    display: flex;
    align-items: center;
}

.userListImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.userListEdit{
    border: 1.2pt solid;
    border-radius: 10px;
    padding: 5px 10px;
    /* background-color: #3bb077; */
    background-color: rgb(1, 173, 173);
    color: white;
    cursor: pointer;
    margin-right: 20px;
}
.userListEdit:hover{
    border: 1.2pt solid rgb(1, 173, 173);
    border-radius: 10px;
    padding: 5px 10px;
    background-color: white;
    color: rgb(1, 173, 173);
    cursor: pointer;
    margin-right: 20px;
}
.userListDelete:hover{
    color: rgb(255, 53, 53);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.userListDelete{
    color: #959595;
    cursor: pointer;
}